* {
    font-family: 'Courier New';
} 
.content {
    font-size: 30px;
    text-align: center;
    background-color: bisque;
}
.container {
    background-color: aquamarine;
    width: 240px; 
    height: 180px;
    border: 2px solid black;
}
.content {
    width: 100px;
    height: 36px;
    border: 20px solid red;
    padding: 10px;
    margin: 40px;
}